<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/ticket.css">
</head>
<%- include('layout/header') %>
    <section id="contact1" class="contact">
        <div class="sectpart2">
            <h3 class="gradient-tex">Contact us</h3>
            <p>
                Travel Ageny, we already known that going on trip helps you discover many things
                equly finacial.kflvv fh
                That's why we are shox wing all our effort to make this practiclmvreg
            </p>
            <form >
                <label for="name">Subject</label>
                <input type="tex" id="name" placeholder="subject title"><br>

                <label for="mail">Email</label>
                <input type="email" id="mail" placeholder="example@email.com"><br>
                <label for="decribe">Describe</label><br>
                <textarea name="" id="textarea" cols="30" rows="5"></textarea><br>
                <input type="submit" value="Send" class="button3">
            </form>
            <fieldset ><legend >Or</legend></fieldset>
            <div class="otherwise">
                <a href="https://www.google.com"><img src="/images/google.png" alt="" >google</a>
                <a href=mailto:reoutaderoland@gmail.com?subject:Feedback ><img src="/images/gmail.png" alt="" srcset="">gmail</a>
                <a href="https://wa.me/237690251475 "><img src="/images/what.png" alt="" srcset="">whatsapp</a>
                <a href="https://www.facebook.com"><img src="/images/face.png" alt="" srcset="">facebook</a>
            </div>
        </div>
    </section>
    <%- include('layout/footer') %>
