<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/destionation.css">
    <title>REOUATDE Travel Agency</title>
    
</head>
<%- include('layout/header')  %>

    <section id="main-image" class="section-img" >
        
        <div class="content">
            <h2 >Organisation of <br><span class="gradient-ext">your trip</span></h2>
            <!--<a href="#" class="buton1">Here is</a>-->
        </div>
    </section>

    
    <section id="steps">
        <div class="sectpart2">
            <ul>
                <li id="step-1">
                    <h4>Planify</h4>
                    <p>Come and you will find out how sweet is this trip:
                        it's created to spend your vacation and birhtday'party and more..
                        T... pleade you to come and discover the show and hupp
                    </p>
                </li>
            </ul>
            <ul>
                <li id="step-2">
                    <h4>Organisation</h4>
                    <p>Come and you will find out how sweet is this trip:
                        it's created to spend your vacation and birhtday'party and more..
                        T... pleade you to come and discover the show and hupp
                    </p>
                </li>
            </ul>
            <ul>
                <li id="step-3">
                    <h4>About the trip</h4>
                    <p>Come and you will find out how sweet is this trip:
                        it's created to spend your vacation and birhtday'party and more..
                        T... pleade you to come and discover the show and hupp
                    </p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </section>
    <%- include('layout/possiblity')  %>

   
    
    
    <section id="contact1" class="contact">
        <div class="sectpart2">
            <h3 class="gradient-tex">Contact us</h3>
            <p>
                Travel Ageny, we already known that going on trip helps you discover many things
                equly finacial.kflvv fh
                That's why we are shox wing all our effort to make this practiclmvreg
            </p>
            <form >
                <label for="name">Name</label>
                <input type="tex" id="name" placeholder="Provide your name">

                <label for="mail">Email</label>
                <input type="email" id="mail" placeholder="Provide your Email">

                <input type="submit" value="OK" class="button3">
            </form>
        </div>
    </section>

 <%- include('layout/footer') %>


    
    <script src="dynamic.js"></script>
</body>
</html>