

    <section>
      <marquee behavior="scroll" direction="left">Hi, here are places that we limited</marquee>
      <div class="destination-menu">
        <div class="place">
          <div class="img-place">
            <img src="../article1.jpg" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
          <div class="img-place">
            <img src="../article1.jpg" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
          <div class="img-place">
            <img src="../article1.jpg" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
          <div class="img-place">
            <img src="../article1.jpg" alt="" />
            <p class="description">
              Come and you will find out how sweet is this trip: it's created to
              spend your vacation and birhtday'party and more.. T... pleade you
              to come and discover the show and hupp
            </p>
          </div>
        </div>
        <div class="place">
            <div class="img-place">
              <img src="../article1.jpg" alt="" />
              <p class="description">
                Come and you will find out how sweet is this trip: it's created to
                spend your vacation and birhtday'party and more.. T... pleade you
                to come and discover the show and hupp
              </p>
            </div>
          </div>
          <div class="place">
            <div class="img-place">
              <img src="../article1.jpg" alt="" />
              <p class="description">
                Come and you will find out how sweet is this trip: it's created to
                spend your vacation and birhtday'party and more.. T... pleade you
                to come and discover the show and hupp
              </p>
            </div>
          </div>
         <div class="advert">
          <p >Book your ticket if you found it interested <a href="ticket.html">Click here</a> </p>
         </div>
      </div>
    </section>
  </body>
</html>
