
<body>
    <header>
        <div class="content0 ">
            <h1 class="gradient-text">Roland Agency<span class="orange">.</span></h1>
            
            <nav>
                <ul class="gradient-text">
                    <li><a href="/">Home</a> </li>
                    <li><a href="/destination">Destination</a> </li>
                    <li><a href="/tick">Ticket</a> </li>
                    <li><a href="contact">Contact</a> </li>    
                </ul>
            </nav>
        </div>

    </header>