<section id="possibility">
    <div class="sectpart2">
        <article style="background-image: url(/images/article1.jpg)  ;">
            <div class="overlay">
                <h4 style="border-bottom: 3px solid green;">Enjoying & family</h4>
                <p><small>
                    Offert the most beautifull enjoyment and chilling with familly 
                    which you will never regret to take your family there😊👌😘🙌
                </small></p>
                <a href="#" class="button2">More infos</a>
            </div>
            
            
        </article>
        <article style="background-image: url(/images/article2.jpg) ;">
            <div class="overlay">
                <h4 style="border-bottom: 3px solid green;">Enjoying alone</h4>
                <p><small>
                    Offert the most beautifull enjoyment and chilling with familly 
                    which you will never regret to take your family there😊👌😘🙌
                </small></p>
                <a href="#" class="button2">More infos</a>
            </div>
           
            
        </article>
        <div class="clear"></div>
    </div>
</section>